h1 {
    color: rgb(91, 156, 230);
    font-size: 70px;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
}

p {
    font-family: sans-serif;
    color: rgb(107, 221, 123);
}

button {
    background-color: orangered;
    color: white;
    border: 0;
    padding: 20px;
}